.contacts__header {
  .font(xl);
  margin: 0;
  padding: 0;
}

.contacts__info {
  display: flex;
  align-items: flex-start;
}

.contacts__info-anchor {
  .font-child(color, inherit);
  text-decoration: none;
}

.contacts__info-list {
  margin: 0;
}

.contacts__address {
  display: block;
}

.contacts__address-placeholder {
  display: block;
}
