@font-family: "OpenSans", sans-serif;
@color-text-primary: #000;
@color-text-secondary: #FFF;
@color-text-content: #444;
@color-ui-btn: #444;
@color-ui-btn-border: #ECECEC;
@color-main: #FFF;
@color-accent: hsl(168, 54%, 60%);
@color-ui-main: #231F20;

.accent(@dark: 0) {
  @accent: hsl(
      (hue(@color-accent) + @dark * 3),
      (saturation(@color-accent) - @dark * 6%),
      (lightness(@color-accent) - @dark * 5%)
  );
}

.font(2xs, @weight:400, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 14px;
  line-height: 30px;
  color: @color;
}

.font(xs, @weight:400, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 15px;
  line-height: 24px;
  color: @color;
}

.font(s, @weight:400, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 15px;
  line-height: 30px;
  color: @color;
}

.font(m, @weight: 700, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 17px;
  line-height: 20px;
  color: @color;
}

.font(xm, @weight: 700, @color: @color-text-primary) {
  font-weight: @weight;
  font-size: 17px;
  line-height: 24px;
  color: @color;
}

.font(l, @weight: 700, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 18px;
  line-height: 20px;
  color: @color;
}

.font(xl, @weight: 700, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 19px;
  line-height: 24px;
  color: @color;
}

.font(2xl, @weight: 700, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 25px;
  line-height: 30px;
  color: @color;
}

.font(3xl, @weight: 700, @color: @color-text-primary) {
  font-family: @font-family;
  font-weight: @weight;
  font-size: 27px;
  line-height: 30px;
  color: @color;
}
.font(child) {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
