@import "source/less/common/variables";

.heading-link{
  .font(xm);
  text-decoration: none;
  @icon-size: 18px;
  &:before{
    content: "";
    width: @icon-size;
    height: @icon-size;
    display: inline-block;
  }

  &--icon-search{
    &:before{
      background-image: url("/img/assets/magnifier.svg");
    }
  }
  &--icon-cart{
    &:before{
      width: @icon-size + 3px;
      background-image: url("/img/assets/cart.svg");
    }
  }
}
