.box-option__input-label {
  display: inline-block;
  border: 2px solid fade(@color-ui-btn, 10%);
  text-transform: uppercase;
  .font-child(color, @color-text-content);
}

.box-option__input-source:checked + .box-option__input-label {
  border: 2px solid .accent() [@accent];
}
